html {
    background: #cde;
}

h1{
    font-family: 'Mountains of Christmas';font-size: 6.5vmin;
    text-align: center;
    width: 100%;
    position: absolute;
}
.canvas {
    --size: 65vmin;
    width: var(--size);
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes shake {
    0%, 50%, 100% {
      transform: translate(-50%, -50%) rotate(0deg) translate(0, 0);
    }
    25% {
      transform: translate(-50%, -50%) rotate(4deg) translate(0, -10%);
    }
    75% {
      transform: translate(-50%, -50%) rotate(-6deg) translate(0, -12%);
    }
  }

  .canvas:active {
    animation: shake 1s infinite;
    transition: 250ms;
  }
  
  .canvas div,
  .canvas div::before,
  .canvas div::after {
    position: absolute;
    box-sizing: border-box;
    display: block;
  }
  
  .base {
    width: 60%;
    height: 26%;
    bottom: 0;
    left: 20%;
    border-radius: 100% / 40%;
    background:
      radial-gradient(100% 50% at 50% 14%, #000, #0000 80%),
      linear-gradient(to right, #0004, #0000, #0004);
    background-color: #222;
  }
  
  .base ~ .base {
    z-index: 200;
    -webkit-mask: radial-gradient(100% 50% at 50% 14%, #0000 50%, #000 51%);
    mask: radial-gradient(100% 50% at 50% 14%, #0000 50%, #000 51%);
    background:
      radial-gradient(150% 112% at 50% 0%, #000 38%, #0000 0),
      radial-gradient(100% 50% at 50% 14%, #000, #0000 80%),
      linear-gradient(to right, #0004, #0000, #0004),
      repeating-linear-gradient(to right, #444 0 1.2%, #666 1.4%, #333 0 2.4%);
    z-index: 3;
  }
  
  
  .bowl {
    top: 0;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: #beeeef33;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .bowl + .bowl {
    z-index: 2;
    background: #beeeef33;
    box-shadow: 
      inset 0 0 2vmin #fff8,
      inset 3vmin 0 5vmin #0003,
      inset -3vmin 0 5vmin #0003,
      inset 0 -20vmin 3vmin -14vmin #0007
      ;
  }
  
  .ground {
    width: 80%;
    height: 15%;
    border-radius: 50%;
    background: white;
    top: 69%;
    left: 50%;
    transform: translateX(-50%);  
  }
  
  .snow {
    width: 97.5%;
    height: 95%;
    border-radius: 50%;
    background: linear-gradient(#0000 79%, #eee 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 
      inset -2vmin 2vmin 4vmin -2vmin #fffa,
      inset 2vmin 0 4vmin -2vmin #0001;
  }
  
  .reflection {
    width: 45%;
    height: 18%;
    background: #f003;
    background: linear-gradient(#fff4, #fff0);
    border-radius: 50%;
    top: 13%;
    left: 60%;
    transform: rotate(17deg) translateX(-50%);
  }
  
  .canvas:active .shadow {
    opacity: 0;
  }
  
  .shadow {
    width: 100%;
    height: 15%;
    background: radial-gradient(farthest-side, #0008, #0000);
    border-radius: 50%;
    bottom: -4%;
    left: -5%;
    filter: blur(1vmin);
  }
  
  
  .snowflake {
    left: 50%;
    top: -5%;
    width: 2%;
    height: 2%;
    background: white;
    border-radius: 50%;
    box-shadow: inset 0.25vmin -0.25vmin 0.25vmin #0002;
    animation: snowfall 4s 1 forwards;
  }
  @keyframes snowfall {
    to {
      transform: translate(0, calc(var(--size) * 0.77));
    }
  }
  /* this is super ugly, it would be better (or at least cleaner) in SASS */
  .snowflake:nth-child(3n) {
    z-index: 1; 
  }
  .snowflake:nth-child(1)  { left: 25%; animation-delay: 1s; }
  .snowflake:nth-child(2)  { left: 20%; animation-delay: 2s; }
  .snowflake:nth-child(3)  { left: 30%; animation-delay: 3s; }
  .snowflake:nth-child(4)  { left: 40%; animation-delay: 4s; }
  .snowflake:nth-child(5)  { left: 50%; animation-delay: 5s; }
  .snowflake:nth-child(6)  { left: 60%; animation-delay: 1.5s; }
  .snowflake:nth-child(7)  { left: 70%; animation-delay: 2.5s; }
  .snowflake:nth-child(8)  { left: 80%; animation-delay: 3.5s; }
  .snowflake:nth-child(9)  { left: 75%; animation-delay: 4.5s; }
  .snowflake:nth-child(11) { left: 28%; animation-delay: 5.5s; }
  .snowflake:nth-child(12) { left: 19%; animation-delay: 0.5s; }
  .snowflake:nth-child(13) { left: 38%; animation-delay: 1.2s; }
  .snowflake:nth-child(14) { left: 48%; animation-delay: 2.2s; }
  .snowflake:nth-child(15) { left: 58%; animation-delay: 3.2s; }
  .snowflake:nth-child(16) { left: 68%; animation-delay: 4.2s; }
  .snowflake:nth-child(17) { left: 78%; animation-delay: 1.7s; }
  .snowflake:nth-child(18) { left: 82%; animation-delay: 2.7s; }
  .snowflake:nth-child(19) { left: 65%; animation-delay: 3.7s; }
  .snowflake:nth-child(20) { left: 54%; animation-delay: 4.7s; }
  .snowflake:nth-child(21) { left: 24%; animation-delay: 0.25s; }
  .snowflake:nth-child(22) { left: 24%; animation-delay: 0.5s; }
  .snowflake:nth-child(23) { left: 34%; animation-delay: 0.75s; }
  .snowflake:nth-child(24) { left: 44%; animation-delay: 0.6s; }
  .snowflake:nth-child(25) { left: 54%; animation-delay: 2.75s; }
  .snowflake:nth-child(26) { left: 64%; animation-delay: 1.75s; }
  .snowflake:nth-child(27) { left: 74%; animation-delay: 3.75s; }
  .snowflake:nth-child(28) { left: 84%; animation-delay: 1.4s; }
  .snowflake:nth-child(29) { left: 74%; animation-delay: 2.4s; }
  .snowflake:nth-child(30) { left: 17%; animation-delay: 3.4s; }
  
  .canvas:active .snowflake {
    animation: none;
  }
  
  .something {
    width: 50%;
    height: 50%;
    left: 50%;
    bottom: 23%;
    transform: translate(-50%, 0);
    /* From Clippy by Bennett Feely */
  /*   clip-path: polygon(18% 100%, 24% 91%, 25% 85%, 25% 76%, 17% 84%, 11% 86%, 3% 86%, 1% 78%, 3% 70%, 14% 63%, 19% 55%, 24% 49%, 31% 45%, 37% 44%, 37% 38%, 43% 41%, 48% 42%, 47% 35%, 43% 26%, 47% 12%, 46% 7%, 49% 4%, 51% 8%, 59% 5%, 66% 7%, 70% 16%, 71% 23%, 70% 31%, 68% 46%, 76% 51%, 79% 47%, 80% 41%, 86% 48%, 88% 50%, 88% 53%, 87% 56%, 90% 63%, 98% 75%, 99% 82%, 98% 91%, 95% 96%, 88% 93%, 77% 85%, 78% 100%);
    background: url(https://alvaromontoro.com/images/me6.webp);
    background-size: cover; */ 
    background:
      radial-gradient(circle at 45% 22%, #222 3%, #0000 0),
      radial-gradient(circle at 58% 22%, #222 3%, #0000 0),
      radial-gradient(circle at 58% 60%, #222 3%, #0000 0),
      radial-gradient(circle at 60% 70%, #222 2.75%, #0000 0),
      radial-gradient(circle at 58% 80%, #222 2.5%, #0000 0),
      conic-gradient(at 100% 50%, #0000 260deg, orange 0 280deg, #0000 0) 60% 25% / 15% 15%,
      linear-gradient(30deg, #0000 40%, brown 0 50%, #0000 0) 100% 70% / 20% 20%,
      linear-gradient(0deg, #0000 40%, brown 0 60%, #0000 0) 100% 70% / 10% 10%,
      linear-gradient(60deg, #0000 40%, brown 0 55%, #0000 0) 100% 74% / 10% 10%,
      linear-gradient(-30deg, #0000 40%, brown 0 50%, #0000 0) 5% 67% / 20% 20%,
      linear-gradient(20deg, #0000 40%, brown 0 60%, #0000 0) 5% 65% / 10% 10%,
      linear-gradient(130deg, #0000 40%, brown 0 60%, #0000 0) 6% 72% / 10% 10%,
      radial-gradient(circle at 50% 25%, #fff, #eee 22%, #0000 0),
      radial-gradient(circle at 50% 30%, #000, #0000 20%),
      radial-gradient(circle at 50% 70%, #fff, #eee 40%, #0000 0)
      ;
    background-repeat: no-repeat;
  }
  
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  :root {
    --h: 170;
    --s: 100%;
    --base: hsl(var(--h), var(--s), 50%);
    --c1: hsl(var(--h), var(--s), 5%);
    --c2: hsl(var(--h), var(--s), 10%);
    --c25: hsl(var(--h), var(--s), 12.5%);
    --c3: hsl(var(--h), var(--s), 15%);
    --c35: hsl(var(--h), var(--s), 17%);
    --c4: hsl(var(--h), var(--s), 20%);
    --c5: hsl(var(--h), var(--s), 25%);
    --c6: hsl(var(--h), var(--s), 30%);
    --c7: hsl(var(--h), var(--s), 35%);
    --c8: hsl(var(--h), var(--s), 40%);
    --c9: hsl(var(--h), var(--s), 45%);
    --c10: hsl(var(--h), var(--s), 50%);
    --c11: hsl(var(--h), var(--s), 55%);
    --c12: hsl(var(--h), var(--s), 60%);
    --c13: hsl(var(--h), var(--s), 65%);
    --c14: hsl(var(--h), var(--s), 70%);
    --c15: hsl(var(--h), var(--s), 75%);
    --c16: hsl(var(--h), var(--s), 80%);
    --c17: hsl(var(--h), var(--s), 85%);
    --c18: hsl(var(--h), var(--s), 90%);
    --c19: hsl(var(--h), var(--s), 95%);
    --c20: hsl(var(--h), var(--s), 100%);
  }
  body {
    margin: 0;
    font-family: Georgia, serif;
    overflow: hidden;
  }
  .salon {
    position: fixed; bottom:-10%; right:0%;
    z-index: 0;
    height: 57.6vmin;
    width: 72vmin;
    margin: 10vmin auto;
    overflow: hidden;
  }
  
  .salon div,
  *:before,
  *:after {
    position: absolute;
  }
  .tree {
    width: 60%;
    height: 86%;
    background: var(--c2);
    left: 50%;
    bottom: 0;
    clip-path: polygon(
      0% 100%,
      100% 100%,
      80% 70%,
      86% 71%,
      70% 45%,
      74% 46%,
      60% 25%,
      63% 26%,
      54% 10%,
      57% 12%,
      50% 0%,
      43% 11%,
      46% 10%,
      37% 27%,
      40% 26%,
      26% 49%,
      30% 47%,
      14% 75%,
      20% 73%
    );
  }
  .tree:before {
    content: "";
    width: 60vmin;
    height: 30vmin;
    top: 2vmin;
    left: -30vmin;
    border: 1px solid var(--c6);
    transform: rotate(-20deg) skew(35deg);
    box-shadow: -1.72vmin 47vmin 0 var(--c2), -1.72vmin 47vmin 0 1px var(--c6);
  }
  .tree:after {
    content: "";
    width: 1vmin;
    height: 1vmin;
    border-radius: 50%;
    color: tomato;
    background: currentcolor;
    top: 7vmin;
    left: 28vmin;
    --light-color1: wheat;
    --light-color2: tomato;
    --light-color3: orangered;
    box-shadow: 2.4vmin 1.8vmin 0 0 var(--light-color1),
      4.9vmin 3.4vmin 0 0 var(--light-color2),
      -7vmin 18vmin 0 0 var(--light-color3), -4vmin 17vmin 0 0 var(--light-color1),
      -1vmin 16vmin 0 0 var(--light-color2), 2vmin 15vmin 0 0 var(--light-color3),
      5vmin 13.75vmin 0 0 var(--light-color1),
      8vmin 12.75vmin 0 0 var(--light-color2),
      -16vmin 39.5vmin 0 0 var(--light-color2),
      -13vmin 38.5vmin 0 0 var(--light-color3),
      -10vmin 37.25vmin 0 0 var(--light-color1),
      -7vmin 36.25vmin 0 0 var(--light-color2),
      -4vmin 35.25vmin 0 0 var(--light-color3),
      -1vmin 34.15vmin 0 0 var(--light-color1),
      2vmin 33vmin 0 0 var(--light-color2), 5vmin 32vmin 0 0 var(--light-color3),
      8vmin 30.85vmin 0 0 var(--light-color1),
      11vmin 29.75vmin 0 0 var(--light-color2),
      14vmin 28.75vmin 0 0 var(--light-color3),
      -18vmin 49.25vmin 0 0 var(--light-color2),
      -15.5vmin 51vmin 0 0 var(--light-color3),
      -13vmin 52.75vmin 0 0 var(--light-color1),
      -10.5vmin 54.5vmin 0 0 var(--light-color2),
      -8vmin 56.25vmin 0 0 var(--light-color3),
      -5.5vmin 58vmin 0 0 var(--light-color1),
      -3vmin 59.75vmin 0 0 var(--light-color2),
      14vmin 60.75vmin 0 0 var(--light-color3),
      17vmin 59.5vmin 0 0 var(--light-color1),
      20vmin 58.5vmin 0 0 var(--light-color2),
      23vmin 57.35vmin 0 0 var(--light-color3),
      26vmin 56.25vmin 0 0 var(--light-color1);
    animation: lights 0.5s infinite;
  }
  
  @keyframes lights {
    50% {
      --light-color1: tomato;
      --light-color2: orangered;
      --light-color3: wheat;
      box-shadow: 2.4vmin 1.8vmin 0 0 var(--light-color1),
        4.9vmin 3.4vmin 0 0 var(--light-color2),
        -7vmin 18vmin 0 0 var(--light-color3),
        -4vmin 17vmin 0 0 var(--light-color1),
        -1vmin 16vmin 0 0 var(--light-color2),
        2vmin 15vmin 0 0 var(--light-color3),
        5vmin 13.75vmin 0 0 var(--light-color1),
        8vmin 12.75vmin 0 0 var(--light-color2),
        -16vmin 39.5vmin 0 0 var(--light-color2),
        -13vmin 38.5vmin 0 0 var(--light-color3),
        -10vmin 37.25vmin 0 0 var(--light-color1),
        -7vmin 36.25vmin 0 0 var(--light-color2),
        -4vmin 35.25vmin 0 0 var(--light-color3),
        -1vmin 34.15vmin 0 0 var(--light-color1),
        2vmin 33vmin 0 0 var(--light-color2), 5vmin 32vmin 0 0 var(--light-color3),
        8vmin 30.85vmin 0 0 var(--light-color1),
        11vmin 29.75vmin 0 0 var(--light-color2),
        14vmin 28.75vmin 0 0 var(--light-color3),
        -18vmin 49.25vmin 0 0 var(--light-color2),
        -15.5vmin 51vmin 0 0 var(--light-color3),
        -13vmin 52.75vmin 0 0 var(--light-color1),
        -10.5vmin 54.5vmin 0 0 var(--light-color2),
        -8vmin 56.25vmin 0 0 var(--light-color3),
        -5.5vmin 58vmin 0 0 var(--light-color1),
        -3vmin 59.75vmin 0 0 var(--light-color2),
        14vmin 60.75vmin 0 0 var(--light-color3),
        17vmin 59.5vmin 0 0 var(--light-color1),
        20vmin 58.5vmin 0 0 var(--light-color2),
        23vmin 57.35vmin 0 0 var(--light-color3),
        26vmin 56.25vmin 0 0 var(--light-color1);
    }
  }
  
  .ball {
    border-radius: 50%;
    width: 4vmin;
    height: 4vmin;
  }
  
  .ball:before {
    content: "";
    top: 0;
    left: 50%;
    transform: translate3d(-50%, -100%, 0);
    background: wheat;
    width: 0.5vmin;
    height: 0.5vmin;
  }
  .ball-1 {
    --decor: wheat;
    color: tomato;
    background: currentcolor;
    box-shadow: inset 0 0 0 0.75vmin currentcolor;
    background-image: linear-gradient(
        0deg,
        transparent,
        transparent 47%,
        var(--decor) 0%,
        var(--decor) 53%,
        transparent 0%
      ),
      linear-gradient(
        90deg,
        transparent,
        transparent 47%,
        var(--decor) 0%,
        var(--decor) 53%,
        transparent 0%
      ),
      linear-gradient(
        45deg,
        transparent,
        transparent 48%,
        var(--decor) 0%,
        var(--decor) 52%,
        transparent 0%
      ),
      linear-gradient(
        135deg,
        transparent,
        transparent 48%,
        var(--decor) 0%,
        var(--decor) 52%,
        transparent 0%
      );
  }
  .ball-11 {
    top: 28vmin;
    left: 35vmin;
  }
  
  .ball-12 {
    color: var(--c5);
    top: 50vmin;
    left: 20vmin;
  }
  
  .ball-13 {
    top: 58vmin;
    left: 45vmin;
  }
  
  .ball-14 {
    color: var(--c7);
    top: 13vmin;
    left: 26vmin;
  }
  
  .star {
    width: 8vmin;
    height: 8vmin;
    background: linear-gradient(wheat, white);
    left: 74.2%;
    top: 8%;
    clip-path: polygon(
      50% 0%,
      65% 33%,
      98% 35%,
      75% 58%,
      79% 91%,
      50% 74%,
      21% 91%,
      28% 59%,
      2% 35%,
      37% 32%
    );
  }
  .gift {
    bottom: 0;
    z-index: 2;
  }
  .w-lid {
    --lid: var(--c4);
    box-shadow: inset 0 2.35vmin 0 0 hsla(var(--h), var(--s), 12%, 0.35);
    &:after {
      //lid
      content: "";
      width: calc(100% + 0.5vmin);
      height: 2vmin;
      background: var(--lid);
      top: 0;
      left: -0.25vmin;
    }
  }
  .gift-1 {
    height: 16vmin;
    width: 10vmin;
    background: linear-gradient(
        90deg,
        transparent,
        transparent 45%,
        var(--c5) 0%,
        var(--c5) 55%,
        transparent 0%
      ),
      linear-gradient(
        0deg,
        transparent,
        transparent 47%,
        var(--c5) 0%,
        var(--c5) 53%,
        transparent 0%
      ),
      repeating-linear-gradient(
        0deg,
        tomato,
        tomato 4%,
        orangered 0%,
        orangered 8%
      );
    left: 18vmin;
  }
  .gift-2 {
    width: 19vmin;
    height: 10vmin;
    background: linear-gradient(
        0deg,
        transparent,
        transparent 32%,
        tomato 0%,
        tomato 34%,
        transparent 0%
      ),
      linear-gradient(
        90deg,
        transparent,
        transparent 49%,
        tomato 0%,
        tomato 51%,
        transparent 0%
      ),
      repeating-linear-gradient(45deg, wheat, wheat 5%, white 0%, white 10%);
    left: 5vmin;
    &:before {
      content: "";
      width: 5.5vmin;
      height: 4.125vmin;
      border: 0.25vmin solid tomato;
      border-radius: 50% 100% 0% 100%;
      left: 50%;
      top: 50%;
      transform-origin: right bottom;
      transform: translate3d(-100%, -50%, 0) rotate(36deg);
    }
    &:after {
      content: "";
      width: 5vmin;
      height: 3.75vmin;
      border: 0.25vmin solid tomato;
      border-radius: 100% 50% 100% 0%;
      left: 50%;
      top: 50%;
      transform-origin: left bottom;
      transform: translate3d(0%, -50%, 0) rotate(-10deg);
    }
  }
  .gift-3 {
    width: 20vmin;
    height: 12vmin;
    background: repeating-linear-gradient(
      90deg,
      wheat,
      wheat 2%,
      tomato 0%,
      tomato 7%
    );
    right: 5vmin;
    --lid: tomato;
  }
  .gift-4 {
    width: 14vmin;
    height: 6vmin;
    background: repeating-linear-gradient(
      -45deg,
      var(--c3),
      var(--c3) 10%,
      var(--c6) 0%,
      var(--c6) 20%
    );
    right: 14vmin;
  }
  
  .gift-5 {
    height: 6vmin;
    width: 19vmin;
    background: tomato;
    left: 18vmin;
    --lid: tomato;
  }
  
  .gift-6 {
    --lid: orangered;
    width: 8vmin;
    height: 8vmin;
    background: pink;
    right: 2.5vmin;
    background: repeating-linear-gradient(
      30deg,
      tomato,
      tomato 10%,
      orangered 0%,
      orangered 18%
    );
  }
  
  .mug {
    width: 5vmin;
    height: 7vmin;
    background: hsla(var(--h), var(--s), 50%, 0.2);
    bottom: calc(100% + 2vmin);
    left: 19vmin;
    border-radius: 0 0 1vmin 1vmin;
    box-shadow: inset -2vmin 0 hsla(var(--h), var(--s), 50%, 0.2),
      inset 1vmin 0 hsla(var(--h), var(--s), 50%, 0.2);
  }
  
  .mug:after {
    content: "";
    width: 1.5vmin;
    height: 3vmin;
    border: 0.75vmin solid hsla(var(--h), var(--s), 50%, 0.4);
    border-radius: 0 50% 50% 0;
    border-left: none;
    left: 100%;
    top: 1.5vmin;
  }
  .mug:before {
    content: "";
    height: 3.5vmin;
    background: white;
    left: 0.5vmin;
    right: 0.5vmin;
    bottom: 0.5vmin;
    margin: auto;
    border-radius: inherit;
    z-index: -1;
  }
  
  .books {
    bottom: calc(100% + 2vmin);
    text-align: center;
    left: 5vmin;
  }
  .book {
    --base-height: 2vmin;
    height: var(--base-height);
    line-height: var(--base-height);
    border-radius: 0.25vmin;
    letter-spacing: 0.25vmin;
    color: var(--c4);
    font-size: 1.5vmin;
  }
  .book-1 {
    width: 12vmin;
    --base-height: 2.5vmin;
    background: tomato;
    color: var(--c1);
    left: -0.5vmin;
    bottom: calc(100% + 3.5vmin + 2.5vmin);
    font-family: Georgia, serif;
    text-transform: uppercase;
    background: tomato
      linear-gradient(
        90deg,
        transparent,
        transparent 7%,
        white 0%,
        white 9%,
        transparent 0%,
        transparent 12%,
        white 0%,
        white 14%,
        transparent 0%,
        transparent 86%,
        white 0%,
        white 88%,
        transparent 0%,
        transparent 91%,
        white 0%,
        white 93%,
        transparent 0%
      );
  }
  .book-2 {
    width: 10vmin;
    --base-height: 2.5vmin;
    background: wheat;
    bottom: calc(100% + 3.5vmin);
    left: 0.5vmin;
    font-style: italic;
  }
  .book-3 {
    width: 12.5vmin;
    --base-height: 3.5vmin;
    background: var(--c2)
      linear-gradient(
        90deg,
        transparent,
        transparent 7%,
        var(--c5) 0%,
        var(--c5) 9%,
        transparent 0%,
        transparent 12%,
        var(--c5) 0%,
        var(--c5) 14%,
        transparent 0%,
        transparent 86%,
        var(--c5) 0%,
        var(--c5) 88%,
        transparent 0%,
        transparent 91%,
        var(--c5) 0%,
        var(--c5) 93%,
        transparent 0%
      );
    bottom: 100%;
    text-transform: uppercase;
  }
  .books:after {
    content: "";
    width: 0.5vmin;
    height: 8.5vmin;
    bottom: 0;
    background: white;
    left: 5.5vmin;
  }
  .car {
    left: 16vmin;
    width: 13vmin;
    height: 4vmin;
    background: var(--c6);
    border-radius: 10% 40% 0 0 / 100% 80% 0 0;
  }
  .car:before,
  .car:after {
    content: "";
  }
  .car:before {
    width: 3vmin;
    height: 3vmin;
    background: var(--c13);
    border-radius: 50%;
    z-index: 1;
    border: 1vmin solid var(--c3);
    box-shadow: 0 0 0 0.5vmin var(--c10), 6vmin 0 0 -1vmin var(--c13),
      6vmin 0 0 var(--c3), 6vmin 0 0 0.5vmin var(--c10);
    bottom: -1vmin;
    left: 2vmin;
  }
  .car:after {
    left: 0;
    bottom: 0;
    height: 8vmin;
    width: 10vmin;
    background-color: var(--c4);
    background-image: linear-gradient(
      90deg,
      transparent 56%,
      var(--c6) 0,
      var(--c6) 62%,
      transparent 0
    );
    border-radius: 50% 40% 0 0 / 100% 80% 0 0;
    border: 0.6vmin solid var(--c6);
    border-bottom: 4vmin solid var(--c6);
  }
  
  .window {
    background: var(--c3);
  
    width: 70vmin;
    height: 55vmin;
    box-shadow: -0.5vmin 0 0 0 var(--c8), inset -0.5vmin 0 0 0 var(--c8),
      0 0 0 2vmin var(--c6);
    border-radius: 6vmin 6vmin 0 0;
    left: 50%;
    transform: translatex(-50%);
    top: 5vmin;
    z-index: -1;
    overflow: hidden;
  }
  .bg {
    width: 105%;
    height: 105%;
    background-image: linear-gradient(14deg, var(--c5) 30%, transparent 0%),
      linear-gradient(-10deg, var(--c4) 30%, transparent 0%);
    filter: blur(2px);
  }
  /* .snowflake {
    --size: 1vw;
    width: var(--size);
    height: var(--size);
    background: var(--c5);
    border-radius: 50%;
  } */
  
  @keyframes snowfall {
    100% {
      transform: translate3d(var(--left-end), 70vmin, 0);
    }
  }
    
  .snowflake:nth-child(6n) {
    filter: blur(2px);
  }

.snowflake-c {
	position: absolute;
	background-image: url("https://dl.dropbox.com/s/3t4z2nijxj2nos6/snowflake-image.svg?raw=1");
	background-size: cover;
	border-radius: 50px;
	animation: fall-animation 2s linear infinite;
}
/*Animation for falling*/
@keyframes fall-animation {
	0% {
		transform: translate(50%, 0%);
		opacity: 1;
	}
	100% {
		transform: translate(50%, 1000%);
		opacity: 0;
	}
}
#loader {
	background-color: #ffffff;
	height: 350px;
	width: 350px;
	position: absolute;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	display: grid;
	place-items: center;
	border-radius: 5px;
}
#loader:after {
	content: "";
	position: absolute;
	height: 250px;
	width: 250px;
	border: 20px solid #a0a0a0;
	border-top-color: #3168ff;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
img {
	position: absolute;
	height: 0;
}
#wrapper {
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	display: none;
}

h3 {
	font-weight: 200px;
    
    color: #fff;
    --color1: #1528ec;
  --color2: #ff0a0a;
  font-family: "Open Sans", sans-serif;
  
  font-size: 3vmin;
  background: repeating-linear-gradient(
    45deg,
    var(--color1),
    var(--color1) 30px,
    var(--color2) 30px,
    var(--color2) 60px
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: 40s linear 0s infinite move;
}
@keyframes move {
    from {
      background-position: 0px;
    }
    to {
      background-position: 1000px;
    }
  }
a {
	background-color: #101010;
	color: #ffffff;
	font-weight: 600;
	text-decoration: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 2.5vmin;
}

h2{
    font-size: 2.5vmin;
    font-weight: 400;
    color: #000;
}

.bottom_text {
    display: flex;
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    position: relative;
    bottom: -73vmin;
}

@media only screen and (max-width: 600px) {
    a,h2{
        font-size: 5vmin;
        top: 80%;
    }
    h3{
        font-size: 5vmin;
    }
    .bottom_text {
        bottom: -100vmin;
    }
    a{
        padding: 5px;
    }
    h1{
        font-size: 15.5vmin;
        top: -5%;
    }
    .salon{
        width: 70vmin;
        height: 70vmin;
        bottom: -5px;
        left: 0;
        transform: translatex(20%);
    }
}
